
#auth h1 {
    font-size: 55px;
    font-weight: 300;
}

#auth h2 {
    margin: -15px;
    opacity: 0.75;
    font-size: 25px;
    font-weight: 200;
}

.authScreenHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.authScreenLogoDiv {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.authScreenLogo {
    opacity: 0.2;
    width: 80%;
    min-width: 350px;
    
}

.authScreenFormsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

.authScreenFormsDiv {
    padding: 20px;
    width: 65%;
    min-width: 590px;
    display: flex;
    justify-content: center;
}

.authScreenFormsDiv div {
    padding: 10px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.loginForm h3 {
    font-size: 30px;
    font-weight: 200;
}
