
#auth h1 {
    font-size: 55px;
    font-weight: 300;
}

#auth h2 {
    margin: -15px;
    opacity: 0.75;
    font-size: 25px;
    font-weight: 200;
}

.authScreenHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.authScreenLogoDiv {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.authScreenLogoDiv p {
    font-weight: 300;
}

.authScreenLogo {
    opacity: 0.2;
    width: 80%;
    min-width: 350px;
    
}

.authScreenFormsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

.authScreenFormsDiv {
    padding: 20px;
    width: 65%;
    min-width: 590px;
    display: flex;
    justify-content: center;
}

.authScreenFormsDiv div {
    padding: 10px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.loginForm h3 {
    font-size: 30px;
    font-weight: 200;
}

.indexScreenDiv {
    margin-bottom: 100px;
}

.indexContentDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}

.employeeListDiv {
    background-color: rgba(0, 0, 0, 0.089);
    padding: 10px;
    border-radius: 5px;
    width: 65%;
    min-width: 460px;
}

.indexLogoDiv {
    display: flex;
    justify-content: center;
    opacity: 0.4;
    min-width: 200px;
    width: 25%;
    padding: 50px;
}

.indexLogoDiv img {
    width: 100%;
    min-width: 200px;
}

.modalDiv {
    display: flex;
    flex-direction: column;
    /* color: #7008036c; */
}

.indexScreenTitle h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}

.indexScreenOrg {
    background-image: url('./images/honeycomb_light.jpg');
    background-size: contain;
    background-blend-mode: lighten;
    width: 100%;
    padding: 5px 20px;
    margin-top: 60px;
    border-radius: 20px;
}

.indexScreenOrg h3 {
    font-weight: 400;
}

.addEmployee {
    font-weight: 200;
}

.addEmployee:hover {
    color: green;
}

#logout:hover {
    color: gray;
}

/* for logout on nav */
.MuiToolbar-root {
    justify-content: space-between;
}